@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	background-color: #D5F5E3;
	list-style: none;
	text-decoration: none;
}

#wrapp {
	width: 95%;
	margin: 0 auto;
}

.hr {
	width: 65%;
	border-bottom: 1px solid lime;
	box-shadow: 5px 5px 5px grey;
	margin: 40px;
}

/*header*/

h1 {
	background-color: lime;
	text-align: center;
	margin: 0px;
	font-size: 2.5em;
}

/*navigation*/

nav ul {
	list-style: none;
	display: inline-block;
	margin-bottom: 15px;
}

nav ul li {
	display: inline-block;
	text-align: center;
	margin: 0px;
	font-size: 2.5em;
	margin-left: 250px;
}

nav ul li:hover {
	color: lightblue;
	cursor: pointer;
}

/*Meni lista*/

.Meni {
	float: right;
	margin: 25px;
	font-size: 2em;

}
.Meni li {
	margin-right: 15px;
	list-style: none;
	padding: 3px;
	text-align: center;
	text-shadow: 2.5px 2.5px 2.5px #666;
}

.Meni li:hover {
	color: orange;
	cursor: pointer;
}

.glass1 {
	text-decoration: underline;
}

/*aritcle*/

h2 {
	text-align: center;
}

/* Beaker_(cup) */

#hide {
	height: 170px;
	width: 200px;
	display: none;
}

#show {
	
	height: 170px;
	width: 200px;
	display: true;
	margin-left: 2px;
	margin-right: 10px;
	margin-bottom: 5px;
}

#data {
	display: none;
	border: 1px solid black;
	font-size: 1.5em;
	padding: 5px;

}

/* Beer glassware */

#hide-2 {
	height: 170px;
	width: 200px;
	display: none;
		
}

#show-2 {
	height: 170px;
	width: 200px;
	display: true;
	margin-left: 2px;
	margin-right: 10px;
	margin-bottom: 5px;
}

#data-2 {
	display: none;
	border: 1px solid black;
	font-size: 1.5em;
	padding: 5px;
}

/* Coffee cup */

#hide-3 {
	height: 170px;
	width: 200px;
	display: none;
}
#show-3 {
	height: 170px;
	width: 200px;
	display: true;
	margin-left: 2px;
	margin-right: 10px;
	margin-bottom: 5px;
}
#data-3 {
	display: none;
	border: 1px solid black;
	font-size: 1.5em;
	padding: 5px;
}

/* Cup */

#hide-4 {
	height: 170px;
	width: 200px;
	display: none;
}
#show-4 {
	height: 170px;
	width: 200px;
	display: true;
	margin-left: 2px;
	margin-right: 10px;
	margin-bottom: 5px;
}
#data-4 {
	display: none;
	border: 1px solid black;
	font-size: 1.5em;
	padding: 5px;
}

/* Jar */

#hide-5 {
	height: 170px;
	width: 200px;
	display: none;
}
#show-5 {
	height: 170px;
	width: 200px;
	display: true;
	margin-left: 2px;
	margin-right: 10px;
	margin-bottom: 5px;
}
#data-5 {
	display: none;
	border: 1px solid black;
	font-size: 1.5em;
	padding: 5px;
}

/* Mug */

#hide-6 {
	height: 170px;
	width: 200px;
	display: none;
}
#show-6 {
	height: 170px;
	width: 200px;
	display: true;
	margin-left: 2px;
	margin-right: 10px;
	margin-bottom: 5px;
}
#data-6 {
	display: none;
	border: 1px solid black;
	font-size: 1.5em;
	padding: 5px;
}

/* Paper cup */

#hide-7 {
	height: 170px;
	width: 200px;
	display: none;
}
#show-7 {
	height: 170px;
	width: 200px;
	display: true;
	margin-left: 2px;
	margin-right: 10px;
	margin-bottom: 5px;
}
#data-7 {
	display: none;
	border: 1px solid black;
	font-size: 1.5em;
	padding: 5px;
}

/* Pythagorean cup */

#hide-8 {
	height: 170px;
	width: 200px;
	display: none;
}
#show-8 {
	height: 170px;
	width: 200px;
	display: true;
	margin-left: 2px;
	margin-right: 10px;
	margin-bottom: 5px;
}
#data-8 {
	display: none;
	border: 1px solid black;
	font-size: 1.5em;
	padding: 5px;
}

/* Quaich */

#hide-9 {
	height: 170px;
	width: 200px;
	display: none;
}
#show-9 {
	height: 170px;
	width: 200px;
	display: true;
	margin-left: 2px;
	margin-right: 10px;
	margin-bottom: 5px;
}
#data-9 {
	display: none;
	border: 1px solid black;
	font-size: 1.5em;
	padding: 5px;
}

/* Sake set */

#hide-10 {
	height: 170px;
	width: 200px;
	display: none;
}
#show-10 {
	height: 170px;
	width: 200px;
	display: true;
	margin-left: 2px;
	margin-right: 10px;
	margin-bottom: 5px;
}
#data-10 {
	display: none;
	border: 1px solid black;
	font-size: 1.5em;
	padding: 5px;
}

/* Stemware */

#hide-11 {
	height: 170px;
	width: 200px;
	display: none;
}
#show-11 {
	height: 170px;
	width: 200px;
	display: true;
	margin-left: 2px;
	margin-right: 10px;
	margin-bottom: 5px;
}
#data-11 {
	display: none;
	border: 1px solid black;
	font-size: 1.5em;
	padding: 5px;
}

/* Teacup */

#hide-12 {
	height: 170px;
	width: 200px;
	display: none;
}
#show-12 {
	height: 170px;
	width: 200px;
	display: true;
	margin-left: 2px;
	margin-right: 10px;
	margin-bottom: 5px;
}
#data-12 {
	display: none;
	border: 1px solid black;
	font-size: 1.5em;
	padding: 5px;
}

/* Trembleuse */

#hide-13 {
	height: 170px;
	width: 200px;
	display: none;
}
#show-13 {
	height: 170px;
	width: 200px;
	display: true;
	margin-left: 2px;
	margin-right: 10px;
	margin-bottom: 5px;
}
#data-13 {
	display: none;
	border: 1px solid black;
	font-size: 1.5em;
	padding: 5px;
}


/*footer*/

h5 {
 	font-size: small;
 	border:1px solid grey;
 	border-radius: 25px;
 	background-color: yellow;
 	text-align: center;
}
